*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(62, 55, 55,0.3),rgba(62, 55, 55,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left:0 ;
    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.btn{
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: 2px solid #fff ;
    padding: 14px 40px;
    border-radius: 50px;
    margin-top: 20px;
    color: #fff;
    background-image: linear-gradient(45deg,#bba817, #e2a60d);
    border-top-right-radius: 0;
    transition: 0.5s;
}
.btn:hover{
    border-top-right-radius:30px ;
}
nav .logo{
    width: 200px;  
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.name{
    left: 0;
    text-align: right;
    position: absolute;
    bottom: 8%;
}
.name h1 {
    font-size: 190px;
    color:transparent;
    font-weight: 600;
    animation-delay: 0.5s;
    margin-left: -10px;
    -webkit-text-stroke:1px #fff;
    background:url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    
}

.name h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.name h3{
    text-align: center;
    font-size:50px ;
    animation-delay: 1s;
   
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ---------Content--------- */
.content{
    width: 100%;
    height: 100vh;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: left;
}
.card{
    width: 400px;
    perspective: 800px;
    cursor: pointer;
    
}
.card-inner{
    position: relative;
    width:100% ;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.front-face{
    backface-visibility: hidden;
}
.front-face img{
    width: 350px;
    
    border-radius: 10px;
}
.back-face{
    backface-visibility: hidden;
    background: #f2a311;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
}
.back-face h2{
    font-size:40px;
    margin-top: 10px;
    font-weight: 500;
}
.back-face p{
    font-size:26px;
    margin-top: 10px;
    font-weight: 300;
}
.social-media i{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #c05305;
    border-radius: 50%;
    margin: 25px 6px;
}
.social-media a{
    text-decoration: none;
}
.btn2{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
    padding: 10px 50px;
    border-radius: 25px;
    margin: 80px auto 0;
}
.card:hover .card-inner{
    transform: rotateY(-180deg);
}